<template>
  <v-progress-circular
    v-if="!CURRENT_CRYPTO_FULL_DATA"
    :size="50"
    color="primary"
    indeterminate
  ></v-progress-circular>
  <div v-else id="chart-container">
    <fusioncharts
      type="candlestick"
      renderAt="chart-container"
      width="500"
      height="400"
      :dataformat="'json'"
      :dataSource="{ chart, categories, dataset }"
    >
    </fusioncharts>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    chart () {
      const vm = this

      return {
        "theme": "fusion",
        "caption": `Graph for ${vm.CURRENT_CRYPTO}`,
        "subCaption": "",
        "numberprefix": "$",
        "vNumberPrefix": " ",
        "pyaxisname": "Price",
        "vyaxisname": "Volume (In Millions)",
        "toolTipColor": "#ffffff",
        "toolTipBorderThickness": "0",
        "toolTipBgColor": "#000000",
        "toolTipBgAlpha": "80",
        "toolTipBorderRadius": "2",
        "toolTipPadding": "5"
      }
    },
    categories () {
      const { CURRENT_CRYPTO_FULL_DATA } = this

      if (CURRENT_CRYPTO_FULL_DATA.length === 0) return []
      
      const timeFrom = CURRENT_CRYPTO_FULL_DATA[0].time
      const timeTo = CURRENT_CRYPTO_FULL_DATA[CURRENT_CRYPTO_FULL_DATA.length - 1].time

      return [{
        "category": [
          {
            "label": timeFrom,
            "x": "1"
          },
          {
            "label": timeTo,
            "x": CURRENT_CRYPTO_FULL_DATA.length
          }
        ]
      }]
    },
    dataset () {
      const { CURRENT_CRYPTO_FULL_DATA } = this

      return [{
        data: CURRENT_CRYPTO_FULL_DATA.map((item, i) => {
          return {
            open: item.open,
            close: item.close,
            low: item.low,
            high: item.high,
            x: i,
            columeFrom: item.volumefrom,
            volumeTo: item.volumeto
          }
        })
      }]
    },
    sortedHistoryList () {
      const cryptoFullDataList = [...this.CURRENT_CRYPTO_FULL_DATA]
      return cryptoFullDataList.sort((a, b) => a.time - b.time)
    },
    ...mapGetters(['CURRENT_CRYPTO_FULL_DATA', 'CURRENT_CRYPTO'])
  }
}
</script>
