<template>
  <v-card>
    <v-card-title>
      <v-text-field
        v-model="tableSearch"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>

    <v-progress-circular
      v-if="!CRYPTO_PRICE_DATA"
      :size="50"
      color="primary"
      indeterminate
    ></v-progress-circular>

    <v-data-table
      v-else
      :headers="tableHeaders"
      :items="tableItems"
      :search="tableSearch"
      :items-per-page="5"
      @click:row="selectCrypto($event)"
    ></v-data-table>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    tableSearch: '',
    tableHeaders: [
      {
        text: 'Name',
        align: 'start',
        value: 'name',
      },
      { text: 'Price', value: 'price' }
    ]
  }),
  computed: {
    tableItems () {
      const cryptoPriceData = this.CRYPTO_PRICE_DATA
      const cryptoListData = []

      for (const key in cryptoPriceData) {
        const cryptoData = {
          name: key,
          price: `$ ${cryptoPriceData[key].USD}`
        }

        cryptoListData.push(cryptoData)
      }

      return cryptoListData
    },
    ...mapGetters(['CRYPTO_TOP_LIST', 'CRYPTO_PRICE_DATA'])
  },
  methods: {
    selectCrypto (e) {
      this.$store.commit('SET_CURRENT_CRYPTO', e.name)
      this.$emit('select-crypto', e.name)
    }
  }
}
</script>
