<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <crypto-list @select-crypto="openStream"></crypto-list>
        </v-col>
        <v-col>
          <crypto-chart></crypto-chart>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    socket: null
  }),
  computed: {
    ...mapGetters(['CRYPTO_TOP_LIST', 'CURRENT_CRYPTO_FULL_DATA'])
  },
  methods: {
    sendToStream (cryptoName) {
      console.log('send')
      const subRequest = {
          "action": "SubAdd",
          "subs": [`24~CCCAGG~${cryptoName.toUpperCase()}~USD~m`]
      };
      this.$store.commit('SET_CURRENT_CRYPTO', cryptoName.toUpperCase())
      this.$store.commit('SET_CURRENT_CRYPTO_FULL_DATA', [])
      this.socket.send(JSON.stringify(subRequest));
    },
    openStream (cryptoName) {
      const vm = this

      if (this.socket) {
        this.socket.close()
      }

      this.socket = new WebSocket('wss://streamer.cryptocompare.com/v2?api_key=cb91b33bc53d51a862870c7758f79f608b8b5790d1519c8094cb5b1a553eb897');
      this.socket.onopen = () => {
          vm.sendToStream(cryptoName)
      }

      this.socket.onmessage = (e) => {
        const message2 = JSON.parse(e.data);
        const lastTrade = vm.CURRENT_CRYPTO_FULL_DATA[vm.CURRENT_CRYPTO_FULL_DATA.length - 2]

        if ((lastTrade && lastTrade.close !== message2.CLOSE && message2.ACTION === 'A' && message2.TYPE === '24') || (message2.CLOSE !== message2.OPEN && message2.ACTION === 'I' && message2.TYPE === '24')) {
          const historyObject = {
            low: message2.LOW,
            high: message2.HIGH,
            open: message2.OPEN,
            close: message2.CLOSE,
            volumefrom: message2.VOLUMEFROM,
            volumeto: message2.VOLUMETO,
            time: new Date(message2.TS * 1000).toLocaleString()
          }
          vm.$store.commit('ADD_NEW_HISTORY_DATA_TO_CURRENT_CRYPTO', historyObject)
          vm.$store.commit('SET_CURRENT_CRYPTO_PRICE_DATA', { cryptoName: message2.FROMSYMBOL.toUpperCase(), cryptoPrice: message2.CLOSE })
        }
      }

      this.socket.onclose = (e) => {
        if (e.wasClean) {
          console.log(`[close] Соединение закрыто чисто, код=${e.code} причина=${e.reason}`);
        } else {
          // например, сервер убил процесс или сеть недоступна
          // обычно в этом случае event.code 1006
          console.log('[close] Соединение прервано');
        }
      };

      this.socket.onerror = (err) => {
        console.log(`[error] ${err.message}`);
      };
    }
  },
  async created () {
    const vm = this

    await this.$store.dispatch('GET_CRYPTO_TOP_LIST', {
      limit: '15',
      tsym: 'USD'
    })
    await this.$store.dispatch('GET_CRYPTO_PRICE_DATA', {
      fsyms: vm.CRYPTO_TOP_LIST.join(','),
      tsyms: 'USD'
    })

    this.openStream(vm.CRYPTO_TOP_LIST[0])
  }
}
</script>
